

.catalog__title {
  font-size: 36px;
  line-height: 36px;
  margin-top: 0;
  padding: 0;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 41px;
  padding-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    border: none;
    padding-top: 75px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 88px;
    padding-left: 110px;
  }
}
