.example {
  background-color: @grey-background;
  margin-top: 45px;

  @media (min-width: @tablet-width) {
    background-color: @white-basic;
    border-top: 1px solid @grey-border;
    margin-top: 104px;
  }

  @media (min-width: @desktop-width) {
    border: none;
    max-width: 1440px;
    margin: 0 auto;
  }
}

.example__medium-container {
  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
  }
}

.example__big-container {
  @media (min-width: @desktop-width) {
    display: flex;
    background-color: @grey-basic;
    justify-content: space-between;
    position: relative;
  }
}

.example__title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-left: 20px;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }
}

.example__content {
  font-family: @font-arial;
  font-size: 14px;
  line-height: 18px;
  color: @grey-dark;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 36px;
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
    margin-top: 70px;
    margin-bottom: 70px;
    width: 436px;
  }
}

.example__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    width: 50%;
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    width: auto;
    margin-left: 0;
    justify-content: flex-start;
  }
}


.example__items {
  position: relative;

  @media (min-width: @desktop-width) {
    &:first-child {
      margin-right: 42px;
    }
  }
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: @black-basic;
  border: 1px solid @white-grey-border;
  box-sizing: border-box;
  border-radius: 3px;
  min-height: 56px;
  width: 124px;
  padding-top: 15px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
    min-height: 72px;
    width: 162px;
  }
}

.example__legend {
  display: block;
  font-family: @font-arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: @grey-dark;
  position: absolute;
  bottom: -12px;
  left: 50%;
  z-index: 1;
  margin: 0;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  background-color: @grey-background;
  transform: translate(-50%);

  @media (min-width: @tablet-width) {
    font-size: 14px;
    line-height: 14px;
    background-color: @white-basic;
    min-width: fit-content;
    padding-right: 5px;
    padding-left: 5px;
    bottom: -5px;
  }

  @media (min-width: @desktop-width) {
    background-color: @grey-basic;
  }
}

.example__list-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 230px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0;
    margin-left: 110px;
  }
}

.example__text {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  margin-right: 5px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    padding-right: 63px;
  }
}

.example__value {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    margin: 0;
    padding: 0;
  }
}

.example__range-wrapper {
  display: flex;
  justify-content: space-around;
  margin-top: 27px;
  padding-bottom: 31px;
  align-items: center;

  @media (min-width: @tablet-width) {
    background-color: @grey-background;
    margin-top: 0;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    background-color: transparent;
    bottom: 45px;
    right: 140px;
  }
}

.example__range-button {
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: inherit;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.4);

    &:hover,
    &:focus {
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    }

    &:active {
      border-bottom: none;
    }
  }
}

.example__total {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-right: 20px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 75px;
  }
}

.example__scale {
  border: 1px solid @white-grey-border;
  box-sizing: border-box;
  border-radius: 6px;
  height: 14px;
  width: 84px;
  background-color: @white-basic;
  padding-top: 3px;
  padding-left: 3px;

  @media (min-width: @tablet-width) {
    position: relative;
    border: none;
    height: 6px;
    width: 428px;
    background-color: @white-grey-border;
  }
}

.example__bar {
  width: 50%;
  height: 6px;
  background: @green-basic;
  border-radius: 6px;

  @media (min-width: @tablet-width) {
    position: absolute;
    top: -15px;
    right: 50%;
    width: 8px;
    height: 8px;
    background-color: @green-basic;
    border: 13px solid @white-basic;
    border-radius: 50%;
    box-sizing: content-box;

    &:hover,
    &:focus {
      filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active {
      box-shadow: 0 0 0 1px @green-basic;
      filter: drop-shadow(0 3px 5px rgba(0, 0, 0, 0.2));
    }
  }
}

.example__image-container {
  @media (min-width: @tablet-width) {
    display: flex;
    margin: 0;
    padding: 0;
    background-color: @grey-background;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    padding-right: 110px;
  }
}

.example__image-wrapper {
  background-color: @grey-background;

  @media (min-width: @tablet-width) {
    background-color: @grey-background;
  }

  @media (min-width: @desktop-width) {
    background-color: @grey-basic;
  }
}

.example__image-wrapper--slim {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
    background-color: @grey-background;
  }

  @media (min-width: @desktop-width) {
    margin-left: -40px;
  }
}

.example__image {
  @media (min-width: @tablet-width) {
    padding: 0;
    margin-top: -190px;
  }
}
