.form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.form__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid @grey-footer;
  padding-bottom: 10px;
  margin-top: 24px;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    border: none;
    margin-bottom: 15px;
    margin-top: 46px;
    margin-left: 70px;
    margin-right: 67px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
    margin-right: 40px;
  }
}

.form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-dark;
  margin-right: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-right: 16px;
  }
}

.form__item {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
  }
}

.form__input {
  border: 1px solid @grey-form;
  outline: none;
  height: 45px;
  width: 100%;
  padding-left: 16px;
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-dark;
  cursor: pointer;

  &:hover {
    border-color: @white-grey-border;
  }

  &:focus,
  &:active {
    box-shadow: inset 0 0 0 1px @grey-dark;
    border-color: @grey-dark;
  }

  &:focus:invalid {
    border-color: @pink-error;
    box-shadow: inset 0 0 0 1px @pink-error;
  }

  @media (min-width: @tablet-width) {
    height: 52px;
    font-size: 20px;
    line-height: 30px;
  }

  &::placeholder {
    font-family: @font-oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @grey-dark;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__fieldset-wrapper {
  .container-desktop;

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 66px;
  }
}
