.form-checkbox__title-container {
  .title-container;
  margin-top: 23px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-top: 65px;
    margin-bottom: 62px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 67px;
  }
}

.form-checkbox__title {
  .title;
}

.form-checkbox__title-wrapper {
  .title-wrapper;
}

.form-checkbox__list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 42px;
    justify-content: space-between;
    margin-left: 70px;
    margin-right: 67px;
    margin-bottom: 59px;
    margin-top: 62px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    max-width: 1220px;
    margin: 62px auto 66px;
  }
}

.form-checkbox__label {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 59px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}


.form-checkbox__input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -5px;
  width: 30px;
  height: 30px;
  border: 1px solid @white-grey-border;
  box-sizing: content-box;
  cursor: pointer;

  &:hover,
  &:focus {
    border-color: #bababa;
  }

  &:disabled {
    opacity: 0.3;
  }

  @media (min-width: @tablet-width) {
    left: 0;
    top: -10px;
    width: 40px;
    height: 40px;
  }
}

.form-checkbox__input:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 9px;
  width: 16px;
  height: 8px;
  border-left: 1px solid @green-basic;
  border-bottom: 1px solid @green-basic;
  transform: rotate(-45deg);
  box-sizing: content-box;

  @media (min-width: @tablet-width) {
    left: 12px;
    top: 0;
    width: 20px;
    height: 12px;
  }
}

.form-checkbox__input:disabled + label {
  opacity: 0.3;
}
