.form-checkbox__title-container {
  .title-container;
  margin-top: 23px;
  margin-bottom: 39px;

  @media (min-width: @tablet-width) {
    margin-top: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 60px;
  }
}

.form-checkbox__title {
  .title;

  @media (min-width: @tablet-width) {
    margin-bottom: 63px;
  }
}

.form-checkbox__title-wrapper {
  .title-wrapper;
}

.form-checkbox__list {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 42px;
    grid-column-gap: 66px;
    margin-left: 80px;
    margin-right: 67px;
    margin-bottom: 59px;
    margin-top: 62px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 78px;
    max-width: 1220px;
    margin: 62px auto 66px;
  }
}

.form-checkbox__label {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  padding-left: 46px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-left: 46px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 58px;
  }
}

.form-checkbox__input + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: -6px;
  width: 29px;
  height: 29px;
  border: 1px solid @white-grey-border;
  box-sizing: content-box;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    left: -14px;
    top: -7px;
    width: 40px;
    height: 40px;
  }

  @media (min-width: @desktop-width) {
    left: -2px;
  }
}

.form-checkbox__input:checked + label::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 8px;
  width: 16px;
  height: 8px;
  border-left: 1px solid @green-basic;
  border-bottom: 1px solid @green-basic;
  transform: rotate(-45deg);
  box-sizing: content-box;

  @media (min-width: @tablet-width) {
    left: 0;
    top: 5px;
    width: 16px;
    height: 10px;
  }

  @media (min-width: @desktop-width) {
    left: 10px;
  }
}

.form-checkbox__input:hover + label::before {
  border: 1px solid @radio-hover;
}

.form-checkbox__input:disabled + label,
.form-checkbox__input:disabled + label::before,
.form-checkbox__input:disabled + label::after {
  opacity: 0.3;
}
