.form-contact__title-container {
  .title-container;
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    margin-top: 75px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 69px;
  }
}

.form-contact__title {
  .title;

  @media (max-width: @mobile-width-only) {
    width: 240px;
  }
}

.form-contact__title-wrapper {
  .title-wrapper;
}

.form-contact__list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid @grey-footer;
  padding-bottom: 24px;
  padding-top: 22px;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    border: none;
    padding-bottom: 20px;
    margin-left: 70px;
    margin-right: 67px;
  }

  @media (min-width: @desktop-width) {
    .container-desktop;
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
  }
}

.form-contact__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-dark;
  margin-right: 12px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form-contact__item {
  position: relative;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin-bottom: 14px;

  @media (min-width: @tablet-width) {
    margin-right: 0;
    margin-left: 0;
  }

  @media (min-width: @desktop-width) {
    flex-grow: 1;

    &:first-child {
      margin-right: 80px;
    }
  }
}

.form-contact__input {
  border: 1px solid @grey-form;
  outline: none;
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  padding-left: 16px;
  font-family: @font-oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @grey-dark;
  cursor: pointer;

  &:hover {
    border-color: @white-grey-border;
  }

  &:focus,
  &:active {
    box-shadow: inset 0 0 0 1px @grey-dark;
    border-color: @grey-dark;
  }

  &:focus:invalid {
    border-color: @pink-error;
    box-shadow: inset 0 0 0 1px @pink-error;
  }

  &::placeholder {
    font-family: @font-oswald;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;
    color: @grey-dark;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 52px;
  }
}

.form-contact__input:focus + .form-contact__icon use {
  fill: @green-basic;
}

.form-contact__input:focus:invalid + .form-contact__icon use {
  fill: @pink-error;
}

.form-contact__icon--email {
  position: absolute;
  top: 15px;
  right: 15px;
}

.form-contact__icon--phone {
  position: absolute;
  top: 12px;
  right: 10px;
}
