.form-comment__title-container {
  .title-container;
  margin-bottom: 39px;
}

.form-comment__title {
  .title;

  @media (min-width: @tablet-width) {
    margin-bottom: 75px;
    margin-top: 62px;
  }
}

.form-comment__title-wrapper {
  .title-wrapper;
}

.form-comment__textarea-wrapper {
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 70px;
    margin-right: 69px;
  }

  @media (min-width: @desktop-width) {
    .container-desktop;
    margin-bottom: 67px;
  }
}

.form-comment__textarea {
  resize: none;
  min-height: 150px;
  width: 100%;
  padding-left: 15px;
  padding-top: 10px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: @font-oswald;
  line-height: 18px;
  font-weight: 400;
  color: @grey-dark;
  text-transform: uppercase;
  outline: none;
  cursor: pointer;

  &:hover {
    border: 1px solid @radio-hover;
  }

  @media (min-width: @tablet-width) {
    min-height: 174px;
    border: 1px solid @grey-form;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding-left: 18px;
  }

  &::placeholder {
    font-size: 16px;
    font-family: @font-oswald;
    line-height: 18px;
    font-weight: 400;
    color: @grey-dark;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}
