.form-checkbox__title {
  font-size: 24px;
  line-height: 26px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form-checkbox__list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.form-checkbox__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 16px;
}

.form-checkbox__item {

  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    margin-right: 30px;
    margin-left: 30px;
  }

  &:first-child {
    @media (min-width: @tablet-width) {
      margin-right: 124px;
    }
  }
}

