.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
  }
}

.header__logo {
  text-align: left;
  margin: 0;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 110px;
  }
}

.header__logo img {
  padding-top: 24px;
  padding-bottom: 15px;

  @media (min-width: @tablet-width) {
    margin-top: 40px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 76px;
  }
}
