.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-bottom: 1px solid @grey-footer;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    align-items: center;
    border: none;
  }

  @media (min-width: @desktop-width) {
    max-width: 1220px;
    margin: 0 auto;
  }
}

.header__logo {
  text-align: left;
  margin: 0;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    margin-left: 30px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
  }
}

.header__logo img {
  padding-top: 24px;
  padding-bottom: 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: @tablet-width) {
    margin-top: 40px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 76px;
  }
}
