.program {
  position: relative;
}

.program__wrapper {
  text-align: center;
  color: @white-basic;
  background-color: @green-basic;
  background-image: url("/img/index-background-mobile1.jpg");
  background-position: center;
  background-size: cover;
  min-height: 302px;
  padding-top: 5px;
  margin-bottom: 138px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    position: relative;
    background-image: none;
    background-color: transparent;
    padding-bottom: 380px;
  }

  @media (min-width: @desktop-width) {
    background-image: url("/img/index-background-desktop1.jpg");
    background-position: 100% 0%;
    background-size: 720px 694px;
    background-repeat: no-repeat;
    margin-bottom: -102px;
    margin-top: -135px;
    z-index: -1;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/index-background-desktop@2x.jpg");
    }
  }
}

.programm__image-wrapper {
  position: absolute;
  top: 180px;
  left: 20px;

  @media (min-width: @tablet-width) {
    top: 260px;
    left: 20px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: 140px;
    left: 550px;
    z-index: 1;
  }
}

.program__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: @white-basic;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @black-basic;
    margin-left: 117px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 190px;
    margin-top: 230px;
  }
}

.program__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @white-basic;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: @black-basic;
    padding-left: 117px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 190px;
  }
}

.programm__button {
  background-color: @green-basic;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: @white-basic;
  margin-right: 20px;
  margin-left: 20px;
  height: 40px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 29px;
    margin-left: 117px;
    min-height: 54px;
    width: 244px;
    z-index: 20;
  }

  @media (min-width: @desktop-width) {
    margin-left: 190px;
    margin-top: 52px;
  }
}
