.program__wrapper {
  position: relative;

  @media (min-width: @desktop-width) {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.program__container {
  text-align: center;
  color: @white-basic;
  background-color: @green-basic;
  background-image: url("../img/index-background-mobile1.jpg");
  background-position: center;
  background-size: cover;
  min-height: 302px;
  padding-top: 5px;
  margin-bottom: 200px;

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }

  @media (min-width: @tablet-width) {
    position: relative;
    background-image: none;
    background-color: transparent;
    padding-bottom: 324px;
  }

  @media (min-width: @desktop-width) {
    padding-bottom: 0;
    margin-bottom: 268px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: -120px;
      left: auto;
      width: 50%;
      height: 694px;
      right: 0;
      background-color: @green-background;
      background-image: url("../img/index-background-desktop1.jpg");
      background-size: contain;
      background-position: top right;
      background-repeat: no-repeat;
      z-index: -2;

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }
}

.program__wrapper-image {
  position: absolute;
  top: 140px;
  left: 20px;

  @media (min-width: @tablet-width) {
    top: 200px;
    left: 29px;
    z-index: -1;
  }

  @media (min-width: @desktop-width) {
    top: -80px;
    left: 557px;
    z-index: 1;
  }
}

.program__wrapper-image img {
  @media (min-width: @tablet-width) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
  }
}

.program__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-align: center;
  color: @white-basic;
  margin-top: 22px;
  margin-bottom: 25px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: @black-basic;
    margin-left: 117px;
    margin-top: 55px;
    margin-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 190px;
    margin-top: 100px;
  }
}

.program__subtitle {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  color: @white-basic;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: @black-basic;
    margin-left: 117px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 190px;
  }
}

.program__container-button {
  position: absolute;
  background-color: @green-basic;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: @white-basic;
  height: 40px;
  width: 280px;
  cursor: pointer;
  top: 413px;
  left: 20px;


  &:hover,
  &:focus {
    background-color: @green-hover;
  }

  &:active {
    color: @white-opasity;
    background-color: @green-hover;
  }

  @media (min-width: @tablet-width) {
    position: static;
    font-size: 20px;
    line-height: 20px;
    min-height: 54px;
    width: 244px;
    z-index: 20;
    margin-left: 112px;
    margin-top: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 190px;
  }
}
