.questionnaire__title {
  font-size: 36px;
  line-height: 36px;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.questionnaire__subtitle {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-left: 30px;
    margin-right: 30px;
  }
}

.questionnaire__button {
  background-color: @green-basic;
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: @white-basic;
  height: 40px;
  width: 100%;

  @media (min-width: @tablet-width) {
    margin-right: 30px;
    margin-left: 30px;
  }
}

.questionnaire__required {
  font-family: Arial;
   font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}
