.site-list {
  margin: 0;
  padding: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-end;
  }
}

.site-list__item {
  @media (min-width: @tablet-width) {
    margin-right: 32px;

    &:last-child {
      margin-right: 20px;
    }

    &--active {
      border-bottom: 2px solid @green-basic;
    }
  }

  @media (min-width: @desktop-width) {
    &--active {
      border-bottom: 2px solid @white-basic;
    }

    &:last-child {
      margin-right: 110px;
    }
  }
}

.site-list a {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: var(--black-basic);
  text-decoration: none;
  border-bottom: 1px solid @grey-border;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 42px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: @white-basic;
    padding-top: 69px;
  }
}

.site-list__item a[href] {
  @media (min-width: @tablet-width) {
    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
