// Colors

@white-basic: #ffffff;
@black-basic: #000000;
@green-basic: #68B738;
@grey-basic: #F2F2F2;
@grey-border: #E6E6E6;
@grey-dark: #444444;
@grey-background: #EAEAEA;


// Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;
